* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-family: Lato, sans-serif;
}

.pokemon-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.pokemon-logo {
  width: 15%;
}

.contenedor-principal {
  width: 100%;
  height: 100vh;
  background-color: rgb(9, 22, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}